body {
  font-family: "Titillium Web", sans-serif;
  min-height: 200px;
  background: linear-gradient(to right, white, lightblue);
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

label {
  font-size: small;
}

#root {
  min-height: 1000px;
}

.scroll {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;

  &:hover {
    opacity: 1;
  }
}

.arrow-up {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -5px;
}

.sideBar {
  opacity: 0.4 !important;
}
